
.sec-Container{
    padding: 200px 100px 80px 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    @media screen and (max-width: 780px){
        padding: 150px 70px 80px 70px;
}

    @media screen and (max-width: 662px){
        @media screen and (max-width: 780px){
            padding: 150px 30px 80px 30px;
    
        }
        }
    .content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 10px solid #3dd6a5;
    height: 290px;

  
    @media screen and (max-width: 780px){
        border: 6px solid #3dd6a5;
        height: 459px;
    }

    @media screen and (max-width: 662px){

    border: unset;
    height: unset;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .arrow-container{
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 50;

        .arrow-left{
             height:38px;
             width: 38px;
             border-radius: 50%;
             position: relative;
             left: 0;
             
             &:hover{

             &::before{
               width: 100%;
            }
             }
     
             &::before{
                 content: '';
                 display: block;
                 background: #3dd6a5;
                 position: absolute;
                 top: 0;
                 left: 0;
                 height: 100%;
                 border-radius: 50%;
                 width: 0;
                 z-index: -1;
                 transition: all .3s ease-in-out;
                 
             }
     
             
             .left{
                 cursor: pointer;
                 height:20px;
                 width: 20px;
                 position: absolute;
                 left: 7px;
                 top: 9px;
                 img{
                     height: 100%;
                     width: 100%;
                 }
                  
                }
               
                 @media screen and (max-width: 470px){
                    bottom: -42px; 
                    right: 60px;

                    &::before{
                        display: none;
                    }
                }
         }

.arrow-right{
            // background-color: yellowgreen;
             height:38px;
             width: 38px;
             border-radius: 50%;
             position: relative;
             right: 0;
             
             &:hover{

             &::before{
               width: 100%;
            }
             }
     
             &::before{
                 content: '';
                 display: block;
                 background: #3dd6a5;
                 position: absolute;
                 top: 0;
                 left: 0;
                 height: 100%;
                 border-radius: 50%;
                 width: 0;
                 z-index: -1;
                 transition: all .3s ease-in-out;
                 
             }
     
             
             
                .right{
                    cursor: pointer;
                    height:20px;
                    width: 20px;
                    position: absolute;
                    left: 7px;
                    top: 9px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                     
                   }
              
                   @media screen and (max-width: 470px){
                    bottom: -42px; 
                    right: 60px;

                    &::before{
                        display: none;
                    }
                       }
         }

    }
   
    
    .img-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

    @media screen and (max-width: 662px){
       // height: unset;
     }

    .img-box{
    height: 600px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 780px){
        width: unset;
       }

    @media screen and (max-width: 662px){
        height: unset;
        }
  ul{
        display: flex;
        position: absolute;
        left: 13%;
        overflow: hidden;
        list-style: none;
        height: 325px;
        width: 310px;
        padding: 0;
        transform: translateY(-72px);
        box-shadow: 4px 18px 11px rgba(0, 0, 10, 0.4);

        @media screen and (max-width: 780px){
            left: 23%;
            transform: translateY(-144px);
        }

        @media screen and (max-width: 662px){
            position: unset;
        }
    }
    
    
    
    
    
    
        li{
        height: 325px;
        width: 310px;

            .img{
                height: 325px;
                width: 310px;
            
            }
        }
    }  
    }
        
    }
    
    .text-con{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;

        @media screen and (max-width: 662px){
            height: unset; 
               }

        ul{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        list-style: none;
       // width: 471px;
            li{
        
        opacity: 0;
        position: absolute;
        right: 13%;
        width: 312px;  
         
        @media screen and (max-width: 662px){
            right: unset;
        }
        @media screen and (max-width: 566px){
            bottom: 64px;
            right: 50%;
            left: 50%;
            transform: translate(-50%, 10px);
            width: 215px;
        }
            &:nth-child(1){
               
                }

                @media screen and (max-width: 780px){
                    bottom: 64px;
                    right: 24%;
                
                }
            }
            &:nth-child(2){
                opacity: 0;
               
            }
                .quote{
                    font-size: 18px;
                    font-weight: 700;
                    color: rgb(78, 78, 78);
                    line-height: 30px;
                    margin-bottom: 16px;
                    position: relative;
                    font-style: italic;

                    @media screen and (max-width: 780px){
                        font-size: 17px;
                        font-weight: 600;
                    }
                }
                
                // .name{
                //     font-size: 20px;
                //     font-weight: 400;
                //     color: rgb(226, 217, 217);
                //     line-height: 8px;
                // }
                .title{
                    line-height: 8px;
                    font-size: 25px;
                    font-weight: 400;

                    @media screen and (max-width: 780px){
                        line-height: 5px;
                        font-size: 24px; 
                    }
                    
                }
          
        }
       
    }

    .img-container{
        height: 60px;
        width: 50px;
        align-self: flex-end;
        transform: translateY(21px) rotate(45deg);
        opacity: 0;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @media screen and (max-width: 600px){
            transform: translateY(32px) rotate(45deg);

        }
    }
}

